input[type="submit"]{
    background: red;
    border-radius: 10px ;
    color: white;
    width:610px;
    height: 80px;
    border: none;
}


input[type="text"]{
   background: lightgrey;
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 300px;
    height: 80px;
}

input[type="example"]{
    background: lightgrey;
    border-radius: 10px;
    padding: 30px;
    border: none;
    width: 550px;
    height: 200px; 
}
